body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
}

html, body {
    height: 100%;
}

#resultTest {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* --------------------ヘッダー部分の設定-------------------- */
#resultHeader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px; /* ヘッダーの高さを設定 */
    z-index: 10;
}

#reultFooterImg {
    padding: 20px 0 0 10px;
    margin-left: 10px;
    height: 60px;
    width: auto;
}


/* --------------------メイン部分の設定-------------------- */
#resultMain {
    flex: 1;
    padding: 0 35px 0 35px;
    margin-top: 40px;
    overflow-y: auto; /* 縦方向にスクロールを有効化 */
    padding-top: 55px; /* ヘッダーの高さ分だけ余白を設定 */
    padding-bottom: 30px; /* フッターの高さ分だけ余白を設定（フッターの高さ+余白分を追加） */
    z-index: 1; /* フッターよりも下に配置 */
}

#resultMain span {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.6;
    color: #525252;
}


/* --------------------フッター部分の設定-------------------- */
#nyan {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultFooterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative; /* フッターをページ下部に表示 */
    z-index: 10; /* フッターが上に表示されるように z-index を設定 */
}

#resultFooter {
    border-radius: 15px;
    box-shadow: 0px 0px 17px -7px #565656;
    position: fixed;
    bottom: 0;
    margin: 15px;
    width: 90%;
    height: 130px; /* フッターの高さを設定 */
    margin: 15px auto; /* 自動で中央配置 */
    background-color: white; /* フッターが浮いているように見えるための背景色 */
    margin: 15px auto; /* 自動で中央配置 */
}

#resultFooterContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#footerTop {
    width: 100%;
    height: 60%;
}

#footerTopContainer {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footerMainTitle {
    font-size: 17px;
    font-weight: 700;
    color: #575757;
    
}

#footerMainSubtitle {
    font-weight: 700;
    font-size: 10px;
    color: #575757;
}

#footerBottom {
    width: 100%;
}

#footerBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 15px 10px 0;
}

#footerBottomTitle {
    box-shadow: 0px 0px 20px -7px #25762f;
    height: 33px;
    width: 120px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    background-color: #2E933C;    
}

#footerBottomTitle:hover {
    height: 31px;
    width: 110px;
    color: white;
    font-size: 11px;
    border-radius: 5px;
    background-color: #277f33;
}

#footerBottomTitle:focus {
    height: 31px;
    width: 110px;
    color: white;
    font-size: 11px;
    border-radius: 5px;
    background-color: #277f33;
}

