@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* --------------------校正設定-------------------- */
#new-footer {
    width: 100%;
}

#test {
    display: flex;
    justify-content: center;
}

#kouseisettingCard {
    z-index: 100;
    border-radius: 6px;
    width: 100%; /* ビューポートの幅の90%に設定 */
    max-width: 550px; /* 最大幅を設定 */
    padding: 0 0px 10px 0px;
    height: 600px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.10);
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; /* 縦方向にレイアウト */
}

#set-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #535353;
    padding: 20px 0 10px 0;
    width: 100%;
    box-sizing: border-box; /* パディングを含むサイズ指定 */
}

#backtotop {
    padding-right: 25px;
}


#backtotop {
    height: 30px;
}

#set-main {
    flex: 1; /* 空きスペースを埋める */
    overflow-y: auto; /* コンテンツが溢れた場合にスクロール可能にする */
    padding: 0 15px 0  15px; /* 内側の余白を設定 */
    box-sizing: border-box; /* パディングを含むサイズ指定 */
}

#set-footer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* パディングを含むサイズ指定 */
}


#new-submit-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 370px;
    height: 46px;
    background-color: #2E933C;
}


#new-submit-button:hover {
    transition: background-color 0.6s ease; /* 色の変化を0.3秒かけて実行 */
    background-color: #2c8137;
}

#startKouseiTitle2 {
    font-size: 16px;
}