
* {
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
}

label {
    font-size: 14px;
    padding-left: 5px;
}


#newFooter {
    margin-right: 10px;
    width: 100%;
    height: 390px;
    display: flex;
    
}

#newFooterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#option {
    padding: 10px 10px 0 10px;
    display: flex;
    box-shadow: 0px 0px 17px -7px #565656;
    flex-direction: column;
    width: 90%;
    height: 95%;
    border-radius: 20px;
}

#optionHeader {
    height: 50px;
}

#optionHeader h3 {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    color: #525252;
}

#optionMain {
    padding: 30px 25px 0 25px;
    flex: 1;
}

#optionFooter {
    height: 60px;  
}

#runKouseirocket {
    margin-left: 10px;
    width: 17px;
}

#runkouseiButton {
    box-shadow: 0px 0px 20px -7px #25762f;
    border-radius: 25px;
    width: 300px;
    height: 46px;
    background-color: #2e933c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#runKouseiButtonContainer {
    display: flex;
    justify-content: center;
}

#runKouseiButtonContent {
    display: flex;
}

#runKouseiButtonContent h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

#optionHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#backtotop {
    width: 20px;
}

.optionPadding {
    accent-color: #2E933C;
    padding-bottom: 20px;
}

.optionPadding label {
    margin-left: 5px;
    font-size: 14px;
}

#betaBatch {
    width: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

input[type=checkbox] {
    transform: scale(1.3);
  }
