/* 画像を回転させるアニメーション */
@keyframes floating-y {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(25%);
    }
}

#loadingNow {
    /* 上下にフワフワ */
    animation: floating-y 0.5s ease-in-out infinite alternate-reverse
}