
* {
  font-family: "Noto Sans JP", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
}

/* --------------------ヘッダーの設定-------------------- */
#topContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#topTest {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
    background-color: transparent; /* 背景を透明に */; 
    height: 80px;
}

#appLogoImg {
    padding: 20px 0 0 10px;
    height: 60px;
    width: auto;
}

/* --------------------メイン部分の設定-------------------- */
main {
    flex: 1;
    display: flex;
    justify-content: center;
}



#text-input {
    resize: none;
    padding: 0 30px 0 30px;
    padding-top: 20px;
    color: #565656;
    width: 100%;
    height: 100%;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.6;
    white-space: pre-wrap;
    overflow-wrap: break-word; /* コンテンツが横幅を超えた際に折り返す */
    text-align: left;
    border: none;
    caret-color: #2E933C; /* カーソルの色を青に変更 */
}

#text-input::-webkit-scrollbar {
    display: none; /* スクロールバーを非表示に */
}

#text-input:focus::placeholder {
    color: transparent;
}

#text-input:focus {
    outline: none;
}

#text-input::placeholder {
    color: rgb(0, 0, 0, 0.16);
    text-align: center; /* プレースホルダーのテキストは中央揃え */
}



/* --------------------フッターの設定-------------------- */
#settings {
    height: 18px;
    padding-left: 5px;
}

#startKousei {
    font-size: 19px;
}

#submit-button {
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 17px -7px #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 46px;
    transition: background-color 0.6s ease, color 0.6s ease; /* 背景色とフォント色を徐々に変化 */
}

#submit-button:hover {
    color: white;
    background-color: #2E933C;
}

#original-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

#origina-fotterContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#startKouseititle {
    font-weight: 600;
    font-size: 16px;
    color: #2E933C;
}

#submit-button:hover #startKouseititle {
    color: white;
}

#submit-button:hover #settings {
    content: url('../img/setting_white.svg');
}

#origina-fotterContainer {
    display: flex;
    justify-content: center;
}
